@{
    ViewBag.Title = "About";
}
<h2>What kind of tradiational food people love in Austalia?</h2>

<div class="row" align="center">
    <div class="col-sm-4">
        <h4>Meatpie</h4>
        <img src="~/images/meatpie.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236" />
        <textarea rows="6" cols="50">For most Americans this next popular Australian food is very peculiar (it was even an eating challenge on one season of the Amazing Race and the competitors were retching because they thought it was so disgusting!) So what is this food that Americans think is so awful?
        </textarea>
    </div>
    <div class="col-sm-4">
        <h4>Kangaroo</h4>
        <img src="~/images/kangaroo_meat_supermarket-commons.jpeg" class="img-rounded" alt="Cinque Terre" width="304" height="236" />
        <textarea rows="6" cols="50">While visitors usually take pictures of kangaroos bouncing around, the kangaroo is also a common meat to be found on supermarket shelves and restaurant menus. Kangaroo is lean red meat, it’s healthy and you can prepare it in many ways – steaks, burgers, sausages, and much more. </textarea>
    </div>
    <div class="col-sm-4">
        <h4>Fish & Chips</h4>
        <img src="~/images/fish_chips_commons.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236" />
        <textarea rows="6" cols="50">Australians do a bloody good Fish and Chips. OK most English visitors will be quite skeptical of this statement when it comes to Fish and Chips because Australians have yet to master the art of mushy peas, chips and gravy. But considering that the entire country is surrounded by ocean, you are pretty much guaranteed to always get a delicious and fresh piece of fish.</textarea>
    </div>

</div>
